
<%- include("partials/header"); -%>
<div class="blogContainer">
<%  posts.forEach(function(post){ %>

    <div class="singleBlogContainer">
        <h1><%=post.title%></h1>
        <div class="date"><%= post.currentDate %></div>
        <p>
        <%- post.content.substring(0, 100) + " ..." %>
        <a href="/blog/posts/<%=post._id%>">Read More</a>
        </p>
    </div>

<% }) %>
</div>
<%- include("partials/footer"); -%> 