
<%- include("partials/header"); -%>
<div class="blogContainer">
    <div class="singleBlogContainer">
        <h1><%=title%></h1>
        <div class="date"><%= currentDate %></div>
        <p><%- content %></p>
    </div>
</div>
<%- include("partials/footer"); -%>